:root {
  --bg: #404040;
  --bg-color-2: #24323e;
  --brand-color: #fca21b;
  --brand-color-light: #ffb951;
}
h1 {
  font-family: "Rubik Glitch", cursive;
  text-align: center;
}
h2 {
  text-align: center;
  color: #fca21b;
}

p {
  font-size: var(--font-size-1);
}

h4 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-5);
}

@media only screen and (max-width: 1200px) {
  h2 {
    font-size: var(--size-11);
  }

  p {
    font-size: var(--font-size-0);
  }

  h4 {
    font-size: var(--font-size-3);
  }

  h3 {
    font-size: var(--font-size-5);
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: var(--font-size-6);
  }

  p {
    font-size: var(--font-size-0);
  }

  h4 {
    font-size: var(--font-size-2);
  }

  h3 {
    font-size: var(--font-size-4);
  }
}

.black {
  color: var(--gray-11);
}

.white {
  color: var(--gray-1);
}
