---
import Header from "../components/Header.astro";
import Infoboks from "../components/Infoboks.astro";
import Skillevej from "../components/Skillevej.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PierresBereommelse from "../components/PierresBereommelse.astro";
import infoboxBorder from "../assets/images/infoboxBorder.svg";
import NyBegyndelse from "../components/Nybegyndelse.astro";
//import begyndelse from "../assets/images/.jpg";
---

<BaseLayout>
  <main>
    <Header />
    <PierresBereommelse />
    <Skillevej />

    <div class="container">
      <section class="dropdown">
        <div class="infoboxDiv">
          <Infoboks title="Analog fotografering">
            <p class="orange">
              Fotografering med gode, gammeldags filmruller. Analog
              fotografering stiger for tiden i popularitet, specielt blandt
              unge, og prisen på filmruller og vintage-kameraer skyder i vejret.
              Mange fotografer synes at film-fotografering er mere ægte har mere
              “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede
              koster penge, og man bliver nødt til at overveje motiv og lys
              grundigere før der skydes - tænk før du trykker.
            </p>
          </Infoboks>
        </div>
        <div>
          <Infoboks title="Glitch Art">
            <p class="orange">
              Når der sker en teknisk fejl i et medie/en kommunikationskanal
              kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at
              skabe kunst. En meget typisk glitch er små analoge eller digitale
              fejl i farvegengivelsen af billeder.
            </p>
          </Infoboks>
        </div>
        <div>
          <Infoboks title="Lomografi">
            <p class="orange">
              Et lomografi er egentlig bare et fotografi skudt uden videre
              omtankte, og med noget foto-udstyr af ret alternativ
              kvalitet.Lomografier skydes ofte på gode, gammeldags filmruller,
              men kan også skyde digitalt. Det kan måske lyde lidt
              anti-fotograf-agtigt. men en del foto-entusiaster dyrker den
              slags, og ser det som en foto-genre eller endda en livsstil.
            </p>
          </Infoboks>
        </div>
      </section>
    </div>
    <NyBegyndelse />
  </main>
</BaseLayout>

<style>
  .pierres_bereommelse {
    background-color: #404040;
  }
  /*infoboks*/
  .infoboxDiv {
    display: grid;
    border-image: url("../assets/images/infoboxBorder.svg") 20% round;
    border: 15px solid transparent;
    padding: 15px;
  }

  /*infoboks*/
</style>
