---
const { oversrift } = Astro.props;
---

<section class="baggrund">
  <slot />
  <h2>{oversrift}</h2>
</section>
<style>
  section {
    display: grid;
  }
  h2 {
    color: #fca21b;
    font-size: 7rem;
    font-family: "Rubik Glitch", cursive;
  }
</style>
