---
const { oversrift } = Astro.props;
---

<section class="baggrund">
  <h2>{oversrift}</h2>
  <slot />
</section>
<style>
  section {
    display: grid;
  }
  h2 {
    color: #fca21b;
    font-size: 8rem;
    transform: translate(0, 450%);
  }
</style>
