---
import Tekstboks from "./Tekstboks.astro";
import TekstTyk from "./TekstTyk.astro";
import { Image } from "astro:assets";
import nybegyndelse from "../assets/images/nybegyndelse.webp";
import Baggrundsbilleder from "./Baggrundsbilleder.astro";
import Citater from "./Citater.astro";
---

<section>
  <Baggrundsbilleder oversrift="Ny Begyndelse" class="overskrift">
    <Image src={nybegyndelse} alt="nybegyndelse" class="nybegyndelse" />
  </Baggrundsbilleder>
  <div class="text6">
    <Tekstboks
      text="Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde."
    />
  </div>
  <div class="text7">
    <Citater
      text=" ”Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.” "
    />
  </div>
  <div class="text8">
    <Tekstboks
      text="Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer."
    />
    <TekstTyk
      text=" I forbindelse med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling."
    />
  </div>
  <div class="text9">
    <Citater
      text=" ”Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.” "
    />
  </div>
</section>

<style>
  .fade-in-bottom {
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .nybegyndelse {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
