---
const { text } = Astro.props;
---

<section>
  <p class="citat">{text}</p>
  <p class="citat">- Pierre</p>
</section>

<style>
  section {
    padding-block: var(--size-8);
    padding-inline: var(--size-10);
  }
  .citat {
    font-size: var(--font-size-5);
    color: #fca21b;
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    section {
      padding-block: var(--size-4);
      padding-inline: var(--size-4);
    }
  }
</style>
