---
---

<footer>
  <p>© Josephine Olesen, Amanda Guldager Holm, Hanna Israielian, Emil Bjærge Abrahamson</p>
</footer>

<style>
  footer {
    padding: var(--size-10) 0;
    color: var(--gray-9)
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
  }
</style>
