<div class="layout video-container video1">
  <video autoplay loop muted src="/header1.mp4"></video>
</div>

<div class="text-container3 scroll0">
  <h1>UPERFEKT ER PERFEKT</h1>
</div>

<div class="text-container scroll">
  <p>
    Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid
    siden, så du hans værker et par gange om dagen, hver dag, året rundt.
  </p>
</div>
<div class="text-container2 scroll2">
  <p>
    Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han
    solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at
    bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
  </p>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".video1", {
    duration: 5,
    scrollTrigger: {
      trigger: ".video1",
      pin: true,
      //markers: true,
    },
  });

  gsap.registerPlugin(ScrollTrigger);
  gsap.from(".scroll0", {
    scrollTrigger: {
      trigger: ".scroll0",
      start: "start bottom ",
      end: "top center",
      //markers: true,
    },
    y: 300,
    scale: 1,
    duration: 1,
  });
  gsap.from(".scroll", {
    scrollTrigger: {
      trigger: ".scroll",
      start: "start bottom ",
      end: "top center",
      //markers: true,
    },
    y: 300,
    scale: 1,
    duration: 1,
  });
  gsap.from(".scroll2", {
    scrollTrigger: {
      trigger: ".scroll2",
      start: "start bottom ",
      end: "top center",
      //markers: true,
    },
    y: 250,
    scale: 1,
    duration: 1,
  });
</script>

<style>
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  p {
    color: var(--brand-color);
    width: 500px;
  }

  .video-container {
    background-size: cover;
    height: 100vh;
  }

  .text-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-container2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-container3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: "Grandstander";
  }

  h1,
  video {
    grid-area: 1/1;
  }
  h1 {
    color: var(--orange-5);
    font-family: "Grandstander";
    font-size: var(--size-10);
    place-self: center center;
  }

  .layout {
    display: grid;
  }

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
  }

  @media (max-width: 600px) {
    @font-face {
      font-family: "Grandstander";
    }
    h1,
    video {
      grid-area: 1/1;
    }
    h1 {
      color: var(--orange-5);
      font-family: "Grandstander";
      font-size: var(--size-7);
      place-self: center center;
    }
    p {
      padding-inline: var(--size-11);
      font-size: 2rem;
    }
    .layout {
      display: grid;
    }

    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      display: block;
    }
    .text-container {
      margin-top: var(--size-4);
    }
    .text-container2 {
      margin-top: var(--size-11);
    }
  }
</style>
