---
const { title } = Astro.props;
---

<div class="grid_1-1">
  <h2 class="dropdown-header">{title}</h2>

  <script src="../scripts/dropdown.js"></script>

  <slot />
</div>
<style>
  .grid_1-1 {
    display: grid;
  }
  .dropdown-header {
    cursor: pointer;
  }
  h2 {
    text-align: center;
  }
</style>
