---
import { Image } from "astro:assets";
import borderImg from "../assets/images/borderImg.svg"
const { title } = Astro.props;
---

<div class="grid_1-1">
  <h2 class="dropdown-header">{title}</h2>
  <Image src={borderImg} alt="Apoteket" />
  <slot />
</div>
<style>
  .grid_1-1 {
    display: grid;
    border-image: url("infoboxBorder.svg");
  }
  .dropdown-header {
    cursor: pointer;
  }
  h2 {
    text-align: center;
  }
</style>
