---

const { title } = Astro.props;

---

<div class="grid_1-1">
  <h3 class="dropdown-header">{title}</h3>
  <slot />
</div>
<style>
  .grid_1-1 {
    display: flex;
 flex-direction: column;
width: 70%;
 padding: var(--size-6); 
  }
 
  h2 {
    text-align: center;
  }
</style>
