---
const { content } = Astro.props;
---

<p>{content}</p>

<div class="layout">
  <img src="../skillevej.webp" />
  <h4>En skillevej</h4>
</div>

<style>
  h4 {
    text-align: center;
    font-size: var(--font-size-6);
    color: #fca21b;
    font-family: "gothic", sans-serif;
    font-weight: 700;
  }
  p {
    text-align: left;
    max-width: 500px;
    margin-left: 36%;
    color: var(--gray-2);
  }
</style>

<style>
  @font-face {
    font-family: "Grandstander";
  }
  h1,
  video {
    grid-area: 1/1;
  }
  h1 {
    color: var(--orange-5);
    font-family: "Grandstander";
    font-size: var(--size-10);
    place-self: center center;
  }

  .layout {
    display: grid;
  }

  video {
    overflow: hidden;
  }

  @media (max-width: 800px) {
    @font-face {
      font-family: "Grandstander";
    }
    h1,
    video {
      grid-area: 1/1;
    }
    h1 {
      color: var(--orange-5);
      font-family: "Grandstander";
      font-size: var(--size-7);
      place-self: center center;
    }

    .layout {
      display: grid;
    }

    video {
      overflow: hidden;
    }
  }
</style>
