---
const { text } = Astro.props;
---

<section>
  <p class="tekstboks">{text}</p>
</section>

<style>
  section {
    padding-block: var(--size-10);
    padding-inline: var(--size-14);
  }
  .tekstboks {
    color: var(--brand-color);
    font-size: var(--font-size-2);
    font-style: normal;
    font-family: "Rubik", cursive;
  }
</style>
