---
const { text } = Astro.props;
---

<section>
  <p class="tekstboks">{text}</p>
</section>

<style>
  p {
    color: var(--brand-color);
  }
  section {
    padding-block: var(--size-8);
    padding-inline: var(--size-14);
  }
  @media only screen and (max-width: 900px) {
    section {
      padding-block: var(--size-6);
      padding-inline: var(--size-8);
    }
    .tekstboks {
      color: var(--brand-color);
      font-size: var(--font-size-2);
      font-style: normal;
      font-family: "Rubik", cursive;
    }
  }

  @media only screen and (max-width: 600px) {
    section {
      padding-block: var(--size-4);
      padding-inline: var(--size-4);
    }

    .tekstboks {
      font-size: var(--font-size-1);
      padding-inline: var(--font-size-2);
    }
  }
</style>
