---
const { text } = Astro.props;
---

<section class="text">
  <p class="fade-in-bottom tekstboks">{text}</p>
</section>

<style>
  .fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  p {
    color: var(--brand-color);
  }
  section {
    padding-block: var(--size-10);
    padding-inline: var(--size-14);
  }
  @media only screen and (max-width: 900px) {
    section {
      padding-block: var(--size-6);
      padding-inline: var(--size-8);
    }
    .tekstboks {
      color: var(--brand-color);
      font-size: var(--font-size-2);
      font-style: normal;
      font-family: "Rubik", cursive;
    }
  }

  @media only screen and (max-width: 600px) {
    section {
      padding-block: var(--size-4);
      padding-inline: var(--size-4);
    }
  }
</style>
