---
import "../styles/global.css";
import "../styles/reset.css";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  body {
    background-color: var(--gray-7);
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  gsap.from(".text1", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text1",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text2", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text2",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text_tyk1", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text_tyk1",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text_tyk2", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text_tyk2",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text3", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text3",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text4", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text4",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text5", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text5",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text6", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text6",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text7", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text7",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text8", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text8",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
  gsap.from(".text9", {
    duration: 1,
    opacity: 0,
    scrollTrigger: {
      trigger: ".text9",
      start: "top 80%", // Starter, når toppen af elementet når midten af visningen
      end: "bottom 10%",
      scrub: true, // Gør animationen flydende med scrolling
      toggleClass: "fade-in-bottom",
    },
  });
</script>
